{% extends "base.html" %}
{% block content %}
<div class="section-wrapper">
    <h1 class="center my-5">{{mod.titre}}</h1>
    <div class="row">
        <div class="col-sm-6">
            <div class="card text-center h-100">
                <div class="card-header">
                    Enseignant
                </div>
                <div class="card-body">
                    <h5 class="card-title">Dans votre portail...</h5>
                    <p class="card-text">...trouver ses conseillers affiliés, voir le programme ministériel en vigueur et modifier ses infos</p>
                    <a href="/accueil-prof" class="btn btn-primary">Profil</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card text-center h-100">
                <div class="card-header">
                    Conseiller Pédagogique
                </div>
                <div class="card-body">
                    <h5 class="card-title">Dans votre portail...</h5>
                    <p class="card-text">...voir les derniers enseignants intégrés et modifier ses infos</p>
                    <a href="/accueil-cp" class="btn btn-primary">Profil</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

