{% extends "base.html" %}
{% block content %}
    <div class="section-wrapper">
        <div class="container mt-5">
            <div class="col-sm-6">
                <div class="card text-center h-100">
                    <div class="card-header">
                        <h3>Authentification</h3>
                    </div>
                    <div class="card-body">
                        <form action="/login-cp" method="post" novalidate>
                            {{ form.hidden_tag() }}
                            <p>
                                {{ form.courriel.label }}<br>
                                {{ form.courriel(size=25) }}
                            </p>
                            <p>
                                {{ form.password.label }}<br>
                                {{ form.password(size=25) }}
                            </p>
                            {{ form.submit() }}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}