{% extends "base.html" %}
{% block content %}
<div class="accueil">
    <div class="container">
        <div class="carte">
            <h1>Profil Conseiller Pédagogique</h1>
            <div class="section">
                <a class="btn-app" href="/liste-enseignants">Voir tous les enseignants enregistrés</a><br>
            </div>
            <div class="section">
                <a class="btn-app" href="/maj-conseiller">Modifier ses infos personnelles</a>
            </div>
            <div class="section">
                <a class="btn-app" href="/sup-conseiller">Effacer son profil</a>
            </div>
            <div class="section">
                <a class="bouton secondary" href="/logout">Déconnexion</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}