{% extends "base.html" %}
{% block content %}
<div class="accueil">
    <div class="container">
        <div class="carte">
            <h1>Profil Enseignant</h1>
             <div class="section">
                <a class="link" href="/mes-conseillers">Trouver ses conseillers pédagogiques</a>
            </div>
            <div class="section">
                <a class="link" href="/maj-prof">Modifier ses infos personnelles</a>
            </div>
            <div class="section">
                <a class="link" href="/sup-prof">Effacer son profil</a>
            </div>
            <div class="section">
                <strong>🚧 Section en construction 🚧</strong>
                <a class="link" href="#">Programme ministériel</a>
            </div>
            <div class="section">
                <a class="link" href="/logout">Déconnexion</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}